# Node modules
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Environment variables
.env

# Build output
dist/
build/

# Logs
logs/
*.log
*.tgz

# Temporary files
tmp/
temp/

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Docker
docker-compose.override.yml
Dockerfile
.dockerignore

# Coverage directory used by tools like istanbul
coverage/

# Misc
*.pem
*.key
*.crt
